
.form {
    margin: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    /* background-image: url(/project/src/assets/20943477.jpg); */
  }
  
  .form-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-control {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .btn {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .btn:hover {
    background-color: #0069d9;
  }
  
  /* Additional styling */
  .form-control:focus {
    outline: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  label {
    color: #4c4c4c;
  }
  
  input[type="number"]::-webkit-inner-spin-button, 
  input[type="number"]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
  
  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
  
  .bg-gradient {
    background-image: linear-gradient(to right, #007bff, #6c757d, #28a745);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
  }
  